@using HelloABP.Web.Models.Common.Modals
@model HelloABP.PhoneBooks.Dtos.PersonEditDto
@{
    Layout = null;
}
@await Html.PartialAsync("~/Views/Shared/Modals/_ModalHeader.cshtml", new ModalHeaderViewModel(L("EditRole")))
<form name="RoleEditForm" role="form" class="form-horizontal">
    <input type="hidden" name="Id" value="@Model.Id" />
    <div class="modal-body">
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="rolename">@L("Name")</label>
            <div class="col-md-9">
                <input id="rolename" class="form-control" type="text" name="Name" value="@Model.Name"  required maxlength="32" minlength="2">
            </div>
        </div>
        <div class="form-group row required">
            <label class="col-md-3 col-form-label" for="displayname">@L("Address")</label>
            <div class="col-md-9">
                <input id="displayname" type="text" class="form-control" name="Address" value="@Model.Address" required maxlength="32" minlength="2">
            </div>
        </div>
        <div class="form-group row">
            <label class="col-md-3 col-form-label" for="role-description">@L("EmailAddress")</label>
            <div class="col-md-9">
                <textarea id="role-description" class="form-control" name="Email">@Model.Email</textarea>
            </div>
        </div>
        
    </div>
    @await Html.PartialAsync("~/Views/Shared/Modals/_ModalFooterWithSaveAndCancel.cshtml")
</form>

<script src="~/view-resources/Views/Persons/_EditModal.js" asp-append-version="true"></script>

