@using HelloABP.Web.Startup
@using HelloABP.Web.Models.Users
@using HelloABP.PhoneBooks.Dtos


@model Abp.Application.Services.Dto.PagedResultDto<PersonListDto>
@{
    ViewBag.Title = L("Persons");
    ViewBag.CurrentPageName = PageNames.Persons;
}
@section scripts
{
    <environment names="Development">
        <script src="~/view-resources/Views/Persons/Index.js" asp-append-version="true"></script>
    </environment>

    
}
<section class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1>@L("Persons")</h1>
            </div>
            <div class="col-sm-6">
                <a href="javascript:;" data-toggle="modal" data-target="#UserCreateModal" class="btn bg-blue float-sm-right">
                    <i class="fa fa-plus-square"></i>
                    @L("Create")
                </a>
            </div>
        </div>
    </div>
</section>
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <div class="row">
                            <div class="col-md-6">
                                <!--Use for bulk actions-->
                            </div>
                            <div class="col-md-6">
                                @await Html.PartialAsync("~/Views/Users/Index.AdvancedSearch.cshtml")
                            </div>
                        </div>
                    </div>
                    <div class="card-body">
                        <div class="table-responsive">
                            <table id="UsersTable" class="table table-striped table-bordered">
                                <thead>
                                    <tr>
                                        <th></th>
                                        <th>@L("UserName")</th>
                                        <th>@L("Address")</th>
                                        <th>@L("EmailAddress")</th>
                                        <th>@L("CreateTime")</th>
                                        <th style="width: 150px">@L("Actions")</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (PersonListDto person in Model.Items)
                                    {
                                    <tr>
                                        <td>person.Name</td>
                                        <td>person.Address</td>
                                        <td>person.Email</td>
                                        <td>person.CreationTime</td>
                                        <td>

                                        </td>
                                    </tr>
                                    }

                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

